/* Inserta tu codigo aqui */
*  {
	outline: 1px solid red;
}
body {
	padding: 0;
	margin: 0;
	font-family: Courgette;
}

header {
	background-color: #00001a;
}
.container{
	width: 900px;
	margin: 0 auto;
}
.clearfix {
	display: table;
}
.clearfix:after{
	content:"";
	clear: both;
}

.logo {
	height: 40px;
	width: 20%;
}
.menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	height: 40px;
}

.menu-list li{
	display: inline-block;
	padding-right:10px;

}

.menu-list li a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 13px;
}

/* Seccion hero */

.hero {
	background: url(../image/header-image.jpg) no-repeat;
	background-size: cover;
	height: 300px;
}

.inner {
	width: 400px;
	height: 200px;
	background-color:#00001a;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
}

 .menu-hero {
	line-height: 200px;
	vertical-align: middle;
}	

.menu-hero {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 40px;
}

.titulo {
	color: #ffd27f;
	font-size: 20px;
	text-align: center;
}

.menu-hero li{
	display: inline-block;
	padding-right:10px;
	text-decoration: none;
	color: white;
	font-size: 13px;

}
/* Inicio de Seccion 1 */

.column1, .column2, .column3 {
	float: left;
	box-sizing: border-box;
	padding: 10px;

}
.column1 {
	width: 33%;
}

.subtitle {
	background-color: #00001a;
}

.img-responsive {
	width: 100%;
}

/* Inicio de Seccion 2 */

.column2 {
	width: 60%;
}

.column3 {
	width: 40%;
}

.video {
	float: right;
	width: 60%;
}

/* Redes Sociales */

.socialmedia{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.navigation-redes li{
 	list-style: none;
 	display: inline-block;
}

/* footer */
footer {
	background-color: #00001a;
	color: white;
	height: auto;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
