/* Inserta tu codigo aqui */
*  {
	outline: 1px solid red;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body {
	background-color: #250033;
}
.container{
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
}
.clearfix {
	display: table;
}
.clearfix:after{
	content:"";
	clear: both;
}

/* Seccion header */
header {
	width: 100%;
	background-color: #00001a;
	overflow: hidden;
	height: 100px;
	margin-bottom: 40px;
	z-index: 1000;
}

header .logo {
	line-height: 100px;
	width: 25%;
	float: left;
	height: auto;
	margin-top: 10px;
}

header .menu_bar {
	display: none;
}
header nav {
	float: right;
	line-height: 100px;
	font-family: Open+Sans;
}

header nav a {
	display:inline-block;
	padding:10px 10px;
	color: #fff;
	font-size: 12px;
	font-family: "arial";
	font-style: italic;
	text-decoration: none;
	line-height: normal;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}
header nav a:hover {
	background-color: #ffd27f;
}

/* Seccion hero */
.hero {
	background: url(../image/header-image.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	padding-top: 200px;
		margin-bottom: 40px;
}

.inner {
	width: 600px;
	height: 200px;
	background-color:#00001a;
	position: relative;
	top:50%;
	transform: translateY(-100%);
	margin: 0 auto;
}

.main-title, .sub-title {
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
}
.main-title {
	color: #ffd27f;
	font-size: 80px;
	text-align: center;
	font-family: "Courgette";
}

.sub-title {
	color: #fff;
	font-family: "arial";
	font-style: italic;
	font-size: 15px;
	margin-top: 30px;
}
 h4 {
 	color: #ffd27f;
	font-size: 20px;
	text-align: center;
	font-family: "Courgette";
	margin: 10px;
 }
 p {
 	color: #fff;
	font-family: "arial";
	font-style: italic;
	font-size: 15px;
	text-align: center;
 }

/* Inicio de Seccion 1 */
.column1, .column2, .column3 {
	float: left;
	width: 33.334%;
	box-sizing: border-box;
	

}
.column1 {
	padding-right: 5px;
}
.column2 {
	padding-left: 5px;
	padding-right: 5px;

}
.column3 {
	padding-left: 5px;
}

.title {
	background-color: #00001a;
	padding: 15px;
	margin-top: -2px;
}

.img-responsive {
	width: 100%;
	height: auto;

}

/* Inicio de Seccion 2 */

.column4 {
	width: 60%;
}

.column5 {
	width: 40%;
}

.video {
	float: right;
	width: 60%;
}

/* Redes Sociales */

.socialmedia{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.navigation-redes li{
 	list-style: none;
 	display: inline-block;
}

/* footer */
footer {
	background-color: #00001a;
	color: white;
	height: auto;
}

/* Responsive */

@media screen and (max-width : 920px) {
	header .logo, header nav{
		width: 100%;
		text-align: center;
		line-height: 100px;
	}
}

@media screen and (max-width: 600px) {
	header nav {
		width: 80%;
		height: 100%;
		margin: 0;
		position: fixed;	
		}
	header nav a {
		display: none;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}
	.menu_bar {
		display: block;
		width: 100%;
		background-color: #ccc;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		background-color: #00001a;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-transition: border-box;
		-moz-box-sizing:border-box;
		box-sizing: border-box;
	}
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
}
